* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg_001.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
}
.box {
  width: 55vw;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 25px rgba(71, 71, 71, 0.7);
  display: grid;
  grid-template-columns: 49% 2% 49%;
  grid-template-rows: 90% 10%;
}
/* login button left (facebook, google and twitter) */
.left {
  width: 28vw;
  height: 54vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.left a {
  width: 16vw;
  height: 9vh;
  border-radius: 5px;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.left a:nth-child(n) :nth-child(1) {
  width: 4vw;
  height: 5.5vh;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 1.9rem;
  border-right: 1px solid rgb(255, 255, 255);
}
.left a:nth-child(n) :nth-child(2) {
  align-self: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.facebook {
  background-color: #0c5dd6;
}
.google {
  background-color: #e94647;
}
.twitter {
  background-color: #1a91da;
}
/* middel */
.middle {
  border-right: 1px solid #130a3f;
  margin: 25px 0;
}
/* login form right */
.right {
  width: 27vw;
  height: 54vh;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.right:nth-child(n) :nth-child(n + 1):nth-child(-n + 6) {
  color: #130a3f;
}
.right legend {
  font-size: 1.8em;
  text-decoration: overline solid 2px;
}
.input {
  width: 17vw;
  height: 5vh;
  border-bottom: 1px solid #130a3f;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.input input {
  width: 15vw;
  height: 5vh;
  font-size: 1.2rem;
  border-style: none;
  background-color: transparent;
}
.input input::placeholder {
  color: rgba(16, 9, 62, 0.7);
}
.button {
  width: 5em;
  height: 2em;
  background-color: rgba(16, 9, 62, 0.4);
  border-style: solid;
  border-radius: 4px;
  font-size: 1rem;
}
.right:nth-child(n) :nth-child(4) {
  display: inline-block;
}
/* footer */
.footer {
  display: grid;
  grid-template-columns: 49% 2% 49%;
  grid-row: 2;
  grid-column: 1 / 4;
  border-top: 1px solid #130a3f;
  margin: 0 25px;
  align-content: center;
  background-color: rgba(16, 9, 62, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.footer:nth-child(n) :nth-child(1),
.footer:nth-child(n) :nth-child(3) {
  text-decoration: none;
  margin: 15px;
  color: #130a3f;
}
.footer:nth-child(n) :nth-child(2) {
  border-right: 1px solid #130a3f;
  margin: 10px 0;
}
.footer:nth-child(n) :nth-child(1) {
  text-align: end;
  margin-right: 0;
}
