* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
.box {
  border: 1px solid black;
  width: 60%;
  height: 60%;
  display: grid;
  grid-template-columns: 49.99% 0.2% 49.99%;
  grid-template-rows: 90% 10%;
  margin: 8em auto;
}
/* login button left (facebook, google and twitter) */
.left {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px dashed green;
  margin: 1em;
}
.left a {
  display: grid;
  grid-template-columns: 19.95% 1% 79.95%;
  margin: 5% 5%;
  text-align: center;
  background-color: brown;
  border-radius: 0.3em;
}
.left a:nth-child(n) :nth-child(n + 1):nth-child(-n + 3) {
  padding: 1.4rem;
  font-size: 1.8rem;
}
.left a:nth-child(n) :nth-child(2) {
  border-left: 1px solid black;
  margin: 1rem 0;
}
/* middel */
.middle {
  border: 0.5px solid black;
}
/* login form right */
.right {
  border: 2px dashed red;
  margin: 1em;
}
/* footer */
.footer {
  display: grid;
  grid-template-columns: 49.5% 1% 49.5%;
  grid-column: 1 / 4;
  border-top: 1px solid black;
}
.footer:nth-child(n) :nth-child(1) {
  text-align: right;
}
.footer:nth-child(n) :nth-child(n + 1):nth-child(-n + 3) {
  margin: 0.8em 0.2em;
}
.footer article {
  border: 1.5px solid black;
}
